*{
	background-color:#9F9F9F;
  font-family: 'Gafata', sans-serif, Palatino, Times;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

label{
  background:transparent;
}

#linkedin{
  color:#0000CD;
}

#current-page{
  background-color: #4169E1;
  color: white;
  font-weight:bold;
}

.placeholder-100pct{
  background:transparent;
}

.nav-flex{
    display: flex;
    justify-content: center;
    flex-grow:100; /* Let it fill the entire space horizontally */
    background-color:black;
}


.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
    width:100%;
    background-image:url(../images/contact.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:bold;
    align-content:center;
    justify-content:center;

  }

  .flex-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    color: black;
    background:transparent;
    padding: 5px;
    font-size: 1em;
    box-sizing:border-box;
    font-family: Palatino, Times;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }

  .b {
    background-color:#DADADA;
    background-repeat: no-repeat;
    height: 100%;

  }

  form{
    background: rgba(255,255,255,0.6);    
    border-radius: 2%;
    border-style:bold;
    padding: 2%;
    width: 55%;
    border: 1px solid black;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;

  }

  input[type="text"], textarea, select {
    background-color : white; 
    border: 1px solid #ccc; /* Gray border */
    
  }

  input[type=submit]:hover {
      background-color: #45a049;
  }

  a{
      background:transparent;
    }

  h2{
    background:transparent;
  }

  #message, #message_i{
    background: rgba(255,255,255,0.5);  
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    width:50%;
    margin-left:auto;
    margin-right:auto;

  }


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav {
      background-color: #333;
      overflow: hidden;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    display:block;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;

  }

  .flex-item {
    color: black;
    border: 2px solid black;
    padding: 5px;
    font-size: 1em;
    box-sizing:border-box;
    font-family: Palatino, Times;
    background-image:url(../images/contact.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    font-weight:bold;
  }

  .b {
    background-color:#DADADA;
    background-repeat: no-repeat;
    height: 100%;

  }

  form{
    background: rgba(255,255,255,0.6);    
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    border-style:bold;
    padding: 2%;
    width: 80%;
    border: 1px solid black;
    margin-top:1em;
    height:50%;

  }

  input[type="text"], textarea, select {
    background-color : white; 
    border: 1px solid #ccc; /* Gray border */

  }

  input[type=submit]:hover {
      background-color: #45a049;
  }

  a{
      background:transparent;
    }

  h2{
    background:transparent;
  }

  #message, #message_i{
    background: rgba(255,255,255,0.5);  
    border-radius: 2%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    width:40%;
  }
}