* {
    box-sizing: border-box;
}


/* Referenced/Used code from: https://www.w3schools.com/css/css_image_gallery.asp */
/* Modified some of the classes to fit my style needs. I also had many more photos I wanted to add and also a different responsiveness layouts than the example. */
div.gallery {
    border: 1px solid #ccc;
    background-color:#8CA38C;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    margin-top:0.25em;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color:#8CA38C;
}

/*Mobile View*/
@media only screen and (min-width:0px) {
  .responsive {
      padding: 2px 6px;
      float: left;
      width: 100%;
    }
  }

/*Tablet View*/

@media only screen and (min-width:700px) {
  .responsive {
      padding: 2px 6px;
      float: left;
      width: 50%;
    }
  }

/*Full View*/

@media only screen and (min-width:1150px) {
  .responsive {
      padding: 2px 6px;
      float: left;
      width: 25%;
  }
}

