*{
  background-color:#9F9F9F;
  font-family: 'Gafata', sans-serif, Palatino, Times;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.placeholder-100pct{
  background:transparent;
}

footer{
  margin-top: 2px;
  background:black;
  color:white;
  text-align:center;
  width: 100%;
  position:fixed;
  bottom:0;
  margin-left:-0.5em;

}
footer i{
  background-color:black;
  color:white;
  padding:0.1em;
}

footer i:hover {
  color: #4169E1;
}

#current-page{
  background-color: #4169E1;
  color: white;
  font-weight:bold;
}

.placeholder-100pct{
  background:transparent;
}

.nav-flex{
    display: flex;
    justify-content: center;
    flex-grow:100; 
    background-color:black;
}

/* Used/Referenced Code from: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp for navigation bar */
/* Changed some of the classes for my design purposes, i.e. color. I also had to add additional buttons in the navigation bar and also added it to a flex parent so I could more easily center and uniformally modify it. In addition, I had to modify the code to add accessibilities. */
/* Also had some issues with the referenced responsiveness code so I had to modify that accordingly to work with my media queries. */


.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    background-color:black;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    background-color:black;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #A0A0A0;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn, .topnav a:focus, .dropdown:focus .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover, .dropdown-content a:focus {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
    display: block;
}

.home-page{
  height: 30em;
  width: 100%;
  background-image:url(../images/meonrock.JPG);
  background-position: center;
  background-size: 85em 66em;
  background-repeat: no-repeat;
  display:flex;
  align-items:center;
  justify-content: center;
}

/* Desktop View */

/* Adapted code from card flip tutorials, ref: https://codepen.io/shayhowe/pen/Fvjnf*/
/* Changed images and also edited the classes to fit my design purposes*/
/* The codepen I looked at also just had one card flip, but I adapted it because I wanted four different ones that were either vertically or horizontally aligned. Furthermore, I had to change the back text of the card flip to account for the fact that I wanted to write more than three words.*/

@media screen and (min-width: 900px) {

  .card-container {
    height: 150px;
    border-radius: 10%;
    position: relative;
    width: 150px;
    background-color:transparent;
    margin:2em;
    display:inline-block;

  }

  .card {
    height: 100%;
    position: absolute;
    border-radius: 10%;
    border: 3px solid white;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }

  .card:hover, .card:focus {
    transform: rotateY(180deg);
  }
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;

  }
  .card .back {
    display:flex;
    align-items:center;
    color: black;
    transform: rotateY(180deg);
  }

  .parent{
    background:transparent;
  }

}

@media screen and (max-width: 600px) {
  .topnav {
      background-color: #333;
      overflow: hidden;
  }
  .topnav a:not(:first-child) {
    display: none;
  }

  .dropdown{
    display:none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav {
      background-color: #333;
      overflow: hidden;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    display:block;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .parent{
    background:transparent;
    text-align: center;

  }

  .card-container {
    height: 150px;
    border-radius: 10%;
    position: relative;
    width: 150px;
    background-color:transparent;
    margin:5em 2em 5em 2em;
    display:inline-block;
  }

  .card {
    height: 100%;
    position: absolute;
    border-radius: 10%;
    border: 3px solid white;
    width: 100%;
  }

  .text_d{
    background: rgba(255,255,255,0.8);   
    margin-bottom:2em; 
  }

  .home-page{
    height: 44em;
    width: 100%;
    background-image:url(../images/meonrock.JPG);
    background-position: center;
    background-size: 85em 66em;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

@media screen and (max-width: 470px) {
  .topnav {
      background-color: #333;
      overflow: hidden;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    display:block;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .parent{
    background:transparent;
    text-align: center;

  }

  .card-container {
    height: 150px;
    border-radius: 10%;
    position: relative;
    width: 150px;
    background-color:transparent;
    margin:5em 2em 3em 2em;
    display:inline-block;
  }

  .card {
    height: 100%;
    position: absolute;
    border-radius: 10%;
    border: 3px solid white;
    width: 100%;
  }

  #text_d{
    background: rgba(255,255,255,0.8);   
  }

  .home-page{
    height: 80em;
    width: 100%;
    background-image:url(../images/meonrock.JPG);
    background-position: center;
    background-size: 85em 80em;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}