*{
	background-color:#9F9F9F;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

footer{
  margin-top: 2px;
  background:black;
  color:white;
  text-align:center;
  width: 100%;
  position:fixed;
  bottom:0;
  margin-left:-0.5em;

}

/*Full View*/

@media only screen and (min-width:800px) {
  .current-page{
      font-weight: bold;
      background-color:#686868;
    }

  .placeholder-100pct{
    background:transparent;
  }

  nav{
    list-style:none;
    margin: 2px 0px 2px -4px;
    width: 100%;
    background-color: black;
    padding:0.25em;
    text-align:center;
  }

  nav section{
    display:inline;
    padding: .2em 2em;
  }

  nav a{
    color:black;
    background-color:#9F9F9F;
    display:inline-block;
    text-decoration: none;
    margin: 10px 0px;
  }

  /* Dropdown Button */
  button{
      padding:0.215em 1.6em 0.18em 1.6em;
  }

  a:hover, a:focus, section:hover, section:focus, button:hover, button:focus{
    background-color: #3CB371;
    color: #DDDDDA;
    font-weight: bold;
  }

  .dropbtn {
      background-color: #9F9F9F;
      color: black;
      font-family: Times;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
      background-color: #3CB371;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  .show {
    display:block;
  }

  .home-page{
    height: 26.9em;
    width: 100%;
    background-image:url(../images/home.jpg);
    background-size: 80em 40em;
    display:flex;
    align-items:center;
    justify-content: center;
  }

  h2{
    background:transparent;
    margin:0;
    font-family: Palatino, Times;
  }

  p{
    background:transparent;
  }

  #content{
    background:transparent;
    text-align:center;
    font-family: Palatino, Times;
  }
}

/*Mobile View*/

@media only screen and (max-width:800px) {
  .current-page{
      font-weight: bold;
      background-color:#686868;
    }

  .placeholder-100pct{
    background:transparent;
  }

  nav{
    list-style:none;
    margin: 2px 0px 2px -4px;
    width: 100%;
    background-color: black;
    padding:0.25em;
    text-align:center;
  }

  nav section{
    display:inline;
    padding: .2em 2em;
  }

  nav a{
    color:black;
    background-color:#9F9F9F;
    display:inline-block;
    text-decoration: none;
    margin: 10px 0px;
  }

  /* Dropdown Button */
  button{
      padding:0.215em 1.6em 0.18em 1.6em;
  }

  a:hover, a:focus, section:hover, section:focus, button:hover, button:focus{
    background-color: #3CB371;
    color: #DDDDDA;
    font-weight: bold;
  }

  .dropbtn {
      background-color: #9F9F9F;
      color: black;
      font-family: Times;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
      background-color: #3CB371;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  .show {
    display:block;
  }

  .home-page{
    height: 26.9em;
    width: 100%;
    background-image:url(../images/home.jpg);
    background-size: 80em 40em;
    display:flex;
    align-items:center;
    justify-content: center;
  }

  h2{
    background:transparent;
    margin:0;
    font-family: Palatino, Times;
  }

  p{
    background:transparent;
  }

  #content{
    background:transparent;
    text-align:center;
    font-family: Palatino, Times;
  }
}
