@media screen and (max-width: 900px) {

  .home-page{
    width: 100%;
    height:28em;
    background-image:url(../images/home.jpg);
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {

  .home-page{
    width: 100%;
    background-image:url(../images/home.jpg);
    background-size:cover;
    background-size: 100% 100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

h1{
  background:transparent;
  margin:0;
}

p{
  background:transparent;
  font-size:1.3em;
}

#content{
  background:transparent;
  text-align:center;
}



