
.home-page{
  height: 100vw;
  width: 100%;
  background-image:url(../images/home.jpg);
  background-size: 80em 40em;
  display:flex;
  align-items:center;
  justify-content: center;
}

h1{
  background:transparent;
  margin:0;
}

p{
  background:transparent;
  font-size:1.3em;
}

#content{
  background:transparent;
  text-align:center;
}



